<?xml version="1.0"?>
<launch>
  <node pkg="patrol_robot" type="pc2_to_laserscan" name="pc2_to_laserscan" output="screen"/>
  <node pkg="patrol_robot" type="sim_to_pc2" name="sim_to_pc2" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find patrol_robot)/rviz_cfg/cloud_vis.rviz"/>
</launch> 

